<a href="https://colab.research.google.com/github/Hardik-S/DataMiningCourse/blob/master/CreditCardDefaultPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORT LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import pylab as pl
from sklearn.neighbors import KNeighborsClassifier

%matplotlib inline

# LOAD DATA
## Read CSV & list columns

In [2]:
ccdefault = pd.read_csv('ccdefault.csv')
list(ccdefault.columns.values)

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'DEFAULT']

## Create new dataset without ID variable

In [3]:
ccd = ccdefault[ccdefault.columns[1:]]
list(ccd.columns.values)

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'DEFAULT']

## Split data

In [7]:
test_idx = np.random.uniform(0, 1, len(ccd)) <= .25
train = ccd[test_idx == True]
test = ccd[test_idx == False]

In [5]:
train.head()

    LIMIT_BAL  SEX  EDUCATION  MARRIAGE  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  DEFAULT
1      120000    2          2         2  ...      1000         0      2000        1
2       90000    2          2         2  ...      1000      1000      5000        0
5       50000    1          1         2  ...      1000      1000       800        0
7      100000    2          2         2  ...       581      1687      1542        0
10     200000    2          3         2  ...       300      3738        66        0

[5 rows x 24 columns]

# CLASSIFICATION
## Specify features used to predict

In [8]:
features = [ 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'DEFAULT' ]

## Chose n & conduct knn classification

In [24]:
n = 1

while (n <= 23):
  results = []

  clf = KNeighborsClassifier(n_neighbors = n)
  clf.fit(train[features], train['DEFAULT'])
  preds = clf.predict(test[features])
  accuracy = np.where(preds == test['DEFAULT'], 1, 0).sum() / float(len(test))*100
  print ("Neighbors: %d, Accuracy: %2d%%" % (n, round(accuracy, 2)))
  n = n + 2

1
Neighbors: 1, Accuracy: 68%
3
Neighbors: 3, Accuracy: 73%
5
Neighbors: 5, Accuracy: 74%
7
Neighbors: 7, Accuracy: 75%
9
Neighbors: 9, Accuracy: 76%
11
Neighbors: 11, Accuracy: 76%
13
Neighbors: 13, Accuracy: 76%
15
Neighbors: 15, Accuracy: 77%
17
Neighbors: 17, Accuracy: 77%
19
Neighbors: 19, Accuracy: 77%
21
Neighbors: 21, Accuracy: 77%
23
Neighbors: 23, Accuracy: 77%